html {
  font-family: "Josefin Sans", sans-serif;
  background: linear-gradient(to bottom right, pink, red) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vh;
  margin: auto;
}

.welcomeDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.tasksDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
}

#submitButton {
  margin-top: 10px;
}

h2 {
  margin-top: 50px;
}

li {
  font-size: 20px;
  list-style: none;
}

input[type="text"] {
  border-radius: 3px;
  border: none;
  height: 30px;
  width: 200px;
  text-align: center;
}

button {
  background-color: rgb(219, 228, 169);
  border-radius: 4px;
}

* {
  outline: none;
}
.welcome {
  margin-bottom: 5px;
  text-align: center;
}

input[type="checkbox"] {
  margin-right: 20px;
}

fieldset {
  border: none;
  text-align: center;
}

.three-task-lists {
  display: flex;
  flex-direction: row;
  gap: 5%;
  font-size: 18px;
}

.low-priority-list {
  display: flex;
  flex-direction: column;
  width: 200px;
  font-size: 20px;
  text-align: center;
}

.medium-priority-list {
  display: flex;
  flex-direction: column;
  width: 250px;
  font-size: 20px;
  text-align: center;
}

.high-priority-list {
  display: flex;
  flex-direction: column;
  width: 200px;
  font-size: 20px;
  text-align: center;
}
